<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app>
      <!--  -->
    </v-navigation-drawer>

    <v-app-bar app>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title>Application</v-toolbar-title>
    </v-app-bar>

    <v-main>
      <!--  -->
      <v-col>
        <v-sheet min-height="90vh" rounded="lg">
          <!--  -->

          <v-col
            ><v-row>
              <v-col>
                <v-row align="center" justify="center">
                  <v-col cols="4"></v-col>
                  <v-col cols="4" align="center" class="mx-auto mb-8">
                    <v-text-field
                      label="Servidores"
                      :rules="validacao"
                      hide-details="auto"
                      v-model="numero_de_servidores"
                      type="number"
                    ></v-text-field>
                    <v-text-field
                      label="Lambda"
                      :rules="validacao"
                      hide-details="auto"
                      v-model="lambda"
                      type="number"
                    ></v-text-field>
                    <v-text-field
                      label="Mí"
                      :rules="validacao"
                      hide-details="auto"
                      v-model="mi"
                      type="number"
                    ></v-text-field>
                  </v-col>
                  <v-col>
                    <v-btn color="primary" elevation="6" @click="resultado()">
                      Calcular
                    </v-btn>
                  </v-col>
                </v-row>
                <v-row align="center" justify="center">
                  <v-card elevation="2" outlined tile>
                    <v-card-text>
                      <p>Clientes na Fila (Tempo Médio):</p>
                      <p>{{ tempo_medio_na_fila }} horas</p>
                      <p>Clientes na Sistema (Tempo Médio):</p>
                      <p>{{ tempo_medio_no_sistema }} horas</p>
                    </v-card-text>
                  </v-card>
                </v-row>

                <v-col v-if="atendentes_necessarios"
                  ><v-alert dense outlined prominent text type="error"
                    >É necessário {{ atendentes_necessarios }} ou mais
                    servidores no sistema.</v-alert
                  >
                </v-col>
              </v-col>
            </v-row>
          </v-col>
        </v-sheet>
      </v-col>
    </v-main>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    drawer: false,
    validacao: [
      (value) => !!value || 'Obrigatório',
      (value) => parseInt(value) > 0 || 'Valor deve ser maior que 0',
    ],
    ro: null,
    mi: null,
    lambda: null,
    pi_zero: null,
    numero_esperado_de_clientes: null,
    numero_de_servidores: null,
    numero_de_clientes_na_fila: null,
    numero_clientes_no_sistema: null,
    tempo_medio_no_sistema: null,
    tempo_medio_na_fila: null,
    atendentes_necessarios: null,
  }),
  methods: {
    fatorial(numero) {
      let resultado = 1

      for (let index = 2; index <= numero; index++) {
        resultado = resultado * index
      }

      return resultado
    },
    calcula_ro(lambda, mi, numero_de_servidores) {
      return lambda / (mi * numero_de_servidores)
    },
    calcula_pi_zero() {
      let pi_zero_calculado = 0
      let denominador,
        somatorio = 0
      for (let servidor = 0; servidor < this.numero_de_servidores; servidor++) {
        somatorio +=
          (this.numero_de_servidores * this.ro) ** servidor /
          this.fatorial(servidor)
      }

      let parte_2 =
        Math.pow(
          this.numero_de_servidores * this.ro,
          this.numero_de_servidores
        ) /
        (this.fatorial(this.numero_de_servidores) * (1 - this.ro))
      denominador = somatorio + parte_2
      pi_zero_calculado = 1 / denominador

      return pi_zero_calculado
    },
    funcao_calcula_numero_esperado_de_clientes(
      numero_de_servidores,
      ro,
      pi_zero
    ) {
      return (
        (Math.pow(numero_de_servidores * ro, numero_de_servidores) * pi_zero) /
        (this.fatorial(numero_de_servidores) * (1 - ro))
      )
    },
    funcao_calcula_numero_de_clientes_na_fila() {
      return (this.numero_esperado_de_clientes * this.ro) / (1 - this.ro)
    },
    funcao_calcula_numero_clientes_no_sistema() {
      return this.numero_de_clientes_na_fila + this.lambda / this.mi
    },
    funcao_calcula_tempo_medio_no_sistema() {
      return (this.numero_clientes_no_sistema / this.lambda).toFixed(2)
    },
    funca_calcula_tempo_medio_na_fila() {
      return (this.numero_de_clientes_na_fila / this.lambda).toFixed(2)
    },
    funcao_calcula_numero_atendentes_necessarios() {
      let ro = this.calcula_ro(this.lambda, this.mi, this.numero_de_servidores)
      let numero_necessario = this.numero_de_servidores
      while (ro >= 1) {
        numero_necessario++
        ro = this.lambda / (this.mi * numero_necessario)
      }
      this.atendentes_necessarios = numero_necessario
    },
    metricas() {
      this.pi_zero = this.calcula_pi_zero()
      this.numero_esperado_de_clientes = this.funcao_calcula_numero_esperado_de_clientes(
        this.numero_de_servidores,
        this.ro,
        this.pi_zero
      )
      this.numero_de_clientes_na_fila = this.funcao_calcula_numero_de_clientes_na_fila()
      this.numero_clientes_no_sistema = this.funcao_calcula_numero_clientes_no_sistema()
      this.tempo_medio_no_sistema = this.funcao_calcula_tempo_medio_no_sistema()
      this.tempo_medio_na_fila = this.funca_calcula_tempo_medio_na_fila()
    },
    resultado() {
      this.ro = this.calcula_ro(this.lambda, this.mi, this.numero_de_servidores)
      if (this.ro >= 1) {
        this.funcao_calcula_numero_atendentes_necessarios()
      } else {
        this.metricas()
        this.atendentes_necessarios = null
      }
    },
  },
}
</script>
